
:root 
{
    --primary-color: #2181cf;
    --secondary-color: #fff;

    --primary-background: #181818;

    --secondary-background: #252525;
    --on-secondary-background: white;
    --alt-on-secondary-background: #a8dcfc;

    /* --highlighted-secondary-background: #353535; */
    --highlighted-secondary-background: #FFFFFF20;

    --emphasised-background: #0b025f;
    --on-emphasised-background: white;

    --help-background: #a8dcfc;
    --on-help-background: black;

    --audioHistogramBackground: #202020;
    --volumeUnlitRGB: #440044;
    --volumeLitRGB: #AA00AA;
    --frequenciesUnlitRGB: #004400;
    --frequenciesLitRGB: #00CC00;

    --dropdownRGB: #a8dcfc;
    --dropdownBackgroundRGB: #1A1A1A;

    --soft-corner: 5px;
}

/*

Conversion tool at: https://codepen.io/sosuke/pen/Pjoqqp

white is --> 
filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(105%) contrast(101%);

black is --> 
filter: invert(0%) sepia(18%) saturate(1670%) hue-rotate(230deg) brightness(109%) contrast(107%);

*/

.svg-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(105%) contrast(101%);
}

.svg-icon-button {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(311deg) brightness(105%) contrast(101%);
}
