/* (A) WRAPPER */
#tp-wrap * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }
  #tp-wrap *::selection {
    background: transparent;
  }
  #tp-wrap {
    width: 100vw; height: 100vh;
    position: fixed; top: 0; left: 0; z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0; visibility: hidden;
    transition: opacity 0.3s;
  }
  #tp-wrap.show {
    opacity: 1; 
    visibility: visible;
  }
  
  /* (B) BOX */
  #tp-box {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    display: flex; flex-wrap: wrap;
    border: 1px solid #000;
    background: #a8dcfc;
  }
  
  /* (C) HR/MIN/AM/PM */
  .tp-cell {
    width: 33.3%; padding: 0 15px;
    text-align: center;
  }
  .tp-up, .tp-down {
    padding: 10px 0;
    color: black;
    font-size: 32px; font-weight: 700;
    cursor: pointer;
  }
  .tp-val {
    width: 100%; padding: 10px 0;
    text-align: center; font-size: 18px;
    background: #000;
    color: #a8dcfc
  }
  
  /* (D) CLOSE & SET BUTTON */
  #tp-close{
    width: 45%; padding: 15px 0; 
    margin-bottom: 2%;
    margin-left: 3%; 
    margin-right: 2%; 
    border: 0;
    font-size: 14px; /* font-weight: 700; */
    color: #fff; cursor: pointer;
  }
  #tp-set {
    width: 45%; padding: 15px 0; 
    margin-bottom: 2%;
    margin-left: 2%; 
    margin-right: 3%; 
    border: 0;
    font-size: 14px; /* font-weight: 700; */
    color: #fff; cursor: pointer;
  }
  #tp-close { background: #2181cf; }
  #tp-set { background: #2181cf; }
  
  /* (E) 24-HOUR MODIFY */
  #tp-wrap.tp-24 #tp-ap { display: none; }
  #tp-wrap.tp-24 #tp-hr, #tp-wrap.tp-24 #tp-min { width: 50%; }